DATABASE_URL=postgres://user:password@localhost:5432/jinwoo?sslmode=disable
LOGIN_HOST=127.0.0.1
LOGIN_PORT=8484
CHANNEL_HOST=127.0.0.1
CHANNEL_PORT=8585
DEBUG_PACKETS=true
AUTO_REGISTER=1
WZ_PATH=data/wz
